@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

 :root {
  color: rgba(128, 128, 128, 0.98); 
  background-color: #02191D;
  background-image: radial-gradient(ellipse 1000px 250px at bottom center, #24A0B533, transparent);
  background-repeat: no-repeat;
}

.tickets-container::-webkit-scrollbar {
    width: 8px;
}

.tickets-container::-webkit-scrollbar-thumb {
    background: #24A0B5;
    border-radius: 4px;
}

.tickets-container::-webkit-scrollbar-track {
    margin: 30px 0;
}

.ticket-background {
  background: radial-gradient(
      103.64% 57.39% at 14.02% 32.06%,
      #24A0B533,
      transparent
    ),
    rgba(10, 12, 17, 0.1);
}



@media (max-width: 1024px) {
  :root {
    background-image: radial-gradient(ellipse 500px 250px at bottom center, #24A0B533, transparent);
  }
}
@media (max-width: 768px) {
  :root {
    background-image: none;
  }
}

/* Covers 350px - 373px */
@media (min-width: 350px) and (max-width: 373px) {
  .ticket-padding {
    padding-right: 12px;
    padding-left: 12px;
  }
}

/* Covers 337px - 349px */
@media (min-width: 337px) and (max-width: 349px) {
  .ticket-padding {
    padding-right: 12px;
    padding-left: 12px;
  }

  #ticket-content {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
  }
}

@media (min-width: 298px) and (max-width: 336px) {
  #ticket-content {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    /* top: 8px; */
  }
  
}

/* Covers 337px - 373px */
@media (min-width: 337px) and (max-width: 373px) {
  .ticket-padding {
    padding-right: 12px;
    padding-left: 12px;
  }

  #ticket-content {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
  }
}

@media (max-width: 358px) {
  #ticket-content {
    height: auto;
    flex: none;
  }

  .profile-image {
    width: 100%;
  }
}

/* Covers 336px and below */
@media (max-width: 336px) {
  .profile-image {
    width: 50%;
    height: auto;
    margin: 10px auto;
    border-width: 1px;
  }

  #ticket-heading {
    font-size: 16px;
  }

  #bio-container,
  .bio-data {
    width: 100%;
    font-size: 10px;
    padding: 0;
  }

  .ticket-padding {
    padding-right: 12px;
    padding-left: 12px;
  }

  .event-name-card h1 {
    font-size: 30px;
  }
}

/* Covers 298px and below */
@media (max-width: 298px) {
  #ticket-content {
    width: 80%;
    top: 8px;
  }

  .profile-image {
    width: 30%;
    height: auto;
    margin: 10px auto;
    border-width: 1px;
  }
}
